
  .side {
    float: left;
    width: 15%;
    margin-top:6px;
  }
  
  .middle {
    margin-top:10px;
    float: left;
    width: 70%;
  }
  
  .right {
    text-align: center;
  }
 
  .bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
  }
  
  .bar { height: 18px; background-color: #ff9800;}
  
