* {
    /* BACKGROUND */
    color: #040916; /* blu scuro */
    color: #8AF7F7; /* celeste/verde acqua */
    color: #60a8a9; /* ??? */

    /* CUSTOM CLASSES */
    color: #97c7ee;
    color: #b8c000;

    /* BODY */
    font-family: 'Roboto', sans-serif;
    color: #d4e0ff;

    /* h1, h2 */
    font-family: 'Playfair Display', serif;

    /* h3 */
    font-family: 'New Tegomin', serif;

    /* h6 */
    font-family: 'New Tegomin', serif;
}